#carouselExample .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888;
  border: none;
}

#carouselExample .carousel-indicators button.active {
  background-color: #dc3545;
}

#carouselExample .carousel-indicators {
  position: static;
  margin-top: 1rem;
}
